!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{:"http-equiv" => "refresh", :content => "20"}
    %title local_status
    %link{href: "/server_add.png", rel: "shortcut icon"}
    %link{rel: "stylesheet", type: "text/css", href: "/index.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/external/font-awesome/font-awesome.css"}

  %body
    #page
      .staging_statuses
        - unless @changed_files.any?
          %h1.no_results= no_results
        - @changed_files.sort.each do |staging_status, change_types|
          .staging_status{class: staging_status}
            %h2.stagin_status_header=format_staging_status(staging_status)
            - change_types.sort.each do |change_type, files|
              .file_section{class: change_type}
                %h3.change_type_header{class: change_type}
                  .change_type_content= change_type
                %ol.files
                  - files.each do |file|
                    %li.file= format_file(file)

